# PyCity Schools Analysis

In [1]:
#import pandas
import pandas as pd

#docs to load
school_csv = "Resources/schools_complete.csv"
student_csv = "Resources/students_complete.csv"

#read docs and store as df
school_df = pd.read_csv(school_csv)
student_df = pd.read_csv(student_csv)


#combine docs into single file
schoolStudent = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
schoolStudent.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [2]:
#calculate total number of unique schools
school_count = schoolStudent["school_name"].nunique()
school_count

15

In [3]:
# Calculate the total number of students
student_count = len(schoolStudent["student_name"])
student_count

39170

In [4]:
# Calculate the total budget
total_budget = sum(schoolStudent["budget"].unique())
total_budget

24649428