# PyCity Schools Analysis

In [1]:
#import pandas
import pandas as pd

#docs to load
school_csv = "Resources/schools_complete.csv"
student_csv = "Resources/students_complete.csv"

#read docs and store as df
school_df = pd.read_csv(school_csv)
student_df = pd.read_csv(student_csv)


#combine docs into single file
schoolStudent = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
schoolStudent.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [2]:
#calculate total number of unique schools
school_count = schoolStudent["school_name"].nunique()
school_count

15

In [3]:
# Calculate the total number of students
student_count = len(schoolStudent["student_name"])
student_count

39170

In [4]:
# Calculate the total budget
total_budget = sum(schoolStudent["budget"].unique())
total_budget

24649428

In [6]:
# Calculate the average (mean) math score
average_math_score = schoolStudent["math_score"].mean()
average_math_score

78.98537145774827

In [7]:
# Calculate the average (mean) reading score
average_reading_score = schoolStudent["reading_score"].mean()
average_reading_score

81.87784018381414

In [9]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = schoolStudent[(schoolStudent["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [11]:
# Calculate the percentage of students who passeed reading
passing_reading_count = schoolStudent[(schoolStudent["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [12]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = schoolStudent[
    (schoolStudent["math_score"] >= 70) & (schoolStudent["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [ ]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = 

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary